
			<script>
				window.PB_PUBLIC_VARIABLE =
				{
					
				}
				;
				window.PB_builder= {
					id:"89842670baa5473089e75f510fa621cd",
					type:"regular-page",
					env:"production",
				}
			</script>
			<div id="pb-root">
			<style>
				*{
					font-family: Montserrat;
				}
			</style>
			<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700"/>
			<div data-hk="0-0-0" class="pe-page " data-pe-id="page" style="background:#fff;display:flex;flex-direction:column;align-items:center;position:relative;width:100%;min-height:100%;--pb--bg-color:#fff;--pb--font-family:Montserrat;--pb--heading-color:#232933;--pb--description-color:#232933;--pb--button-color:#FFFFFF;--pb--button-background:#232933"><style>.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4,
.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3,
.pe_rich_text_p4 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h1 {
  font-size: 48px;
  line-height: 56px;
}

.pe_rich_text_h2 {
  font-size: 28px;
  line-height: 36px;
}

.pe_rich_text_h3 {
  font-size: 24px;
  line-height: 32px;
}

.pe_rich_text_h4 {
  font-size: 20px;
  line-height: 28px;
}

.pe_rich_text_p1 {
  font-size: 16px;
  line-height: 28px;
}

.pe_rich_text_p2 {
  font-size: 14px;
  line-height: 24px;
}

.pe_rich_text_p3 {
  font-size: 12px;
  line-height: 20px;
}

.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4 {
  color: var(--pb--heading-color);
}

.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3 {
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1 {
  font-size: 32px;
  line-height: 40px;
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1 {
    font-size: 32px;
    line-height: 40px;
  }
}</style><style>
        .pe-page-content{
          max-width: 1248px
        }
      </style><!--#--><div data-hk="0-0-1-1-0-0" class="pb_power_by_wrapper" data-isshowineditor="false" data-isshowinproduct="false"><style>.pb_power_by_wrapper {
  width: 100%;
  position: relative;
  font-family: SF Pro Text, system-ui;
}

.pb_power_by_production {
  position: absolute;
  right: 0;
  top: 0;
}

.pb_power_by_container {
  display: flex;
  z-index: 9;
  padding: 8px 0;
  margin: 0 auto;
  justify-content: flex-end;
  transform: scale(0.9);
}
.pb_power_by_container .pb_wrapper {
  font-weight: 600;
  font-size: 8px;
  white-space: nowrap;
  line-height: 16px;
}
.pb_power_by_container .pb_link {
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.14);
  border-radius: 14px;
  text-decoration: none;
  color: #ffffff;
}
.pb_power_by_container .pb_link:hover {
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 749px) {
  .pb_power_by_container {
    justify-content: center;
  }
}
.MOBILE-preview .pb_power_by_container {
  justify-content: center;
}</style><!--#--><!--/--><!--#--><!--/--></div><style data-hk="0-0-1-2-0-3">
        @media only screen and (min-width: 1248px) {
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed img, .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset img, .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed img, .html_section2ab05b94-547f-4623-8b79-09a80797974e .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset img, .html_section2ab05b94-547f-4623-8b79-09a80797974e .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-2-0-4">
    .html_section2ab05b94-547f-4623-8b79-09a80797974e, .html_section2ab05b94-547f-4623-8b79-09a80797974e .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-2-0-5"></style><div data-hk="0-0-1-2-0-6" class="html_section2ab05b94-547f-4623-8b79-09a80797974e " data-pe-id="html_section2ab05b94-547f-4623-8b79-09a80797974e" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-2-0-7-1-0-0-1" data-pe-id="html_image75782fd6-1bee-4dc5-98ac-61b955c7450d"><div class="html_image75782fd6-1bee-4dc5-98ac-61b955c7450d" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img loading="lazy" data-hk="0-0-1-2-0-7-1-0-0-0" src="https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_7074ef04e8ad43b9ab0d1ce5e9de324a.jpeg" style="width:65%;height:auto;max-width:100%;display:inline-block"><!--/--><!--#--><!--/--></div></div></div></div><div data-hk="0-0-1-2-0-7-2"></div><!--/--></div><style data-hk="0-0-1-3-0-3">
        @media only screen and (min-width: 1248px) {
          .section0 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .section0 .full-bleed img, .section0 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .section0 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .section0 .inset img, .section0 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .section0 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .section0 .full-bleed img, .section0 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .section0 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .section0 .inset img, .section0 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-3-0-4">
    .section0, .section0 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-3-0-5"></style><div data-hk="0-0-1-3-0-6" class="section0 " data-pe-id="section0" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-3-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-3-0-7-1-0-0-0" class="html_text06f0f62e-7ac9-4d0e-b6ae-d5ed43f2ed24 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text06f0f62e-7ac9-4d0e-b6ae-d5ed43f2ed24"><div class=""><div data-hk="0-0-1-3-0-7-1-0-0-3" class="pe_rich_text_alignCenter " style=""><p data-hk="0-0-1-3-0-7-1-0-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-3-0-7-1-0-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:28px;color:#ff6161">Cleaning Sunbrella® and Agora® Fabrics</span></p></div></div></div></div></div><div data-hk="0-0-1-3-0-7-2"></div><!--/--></div><style data-hk="0-0-1-4-0-3">
        @media only screen and (min-width: 1248px) {
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed img, .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset img, .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed img, .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset img, .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-4-0-4">
    .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d, .html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d .html_row{
      align-items: center
    }
    </style><style data-hk="0-0-1-4-0-5"></style><div data-hk="0-0-1-4-0-6" class="html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d " data-pe-id="html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-4-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:36px 24px 36px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-4-0-7-1-0-0-0" class="html_textda019e98-684a-44b0-965c-cf91f3fda239 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_textda019e98-684a-44b0-965c-cf91f3fda239"><div class=""><div data-hk="0-0-1-4-0-7-1-0-0-3" class="pe_rich_text_alignCenter " style=""><p data-hk="0-0-1-4-0-7-1-0-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-0-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:28px;color:undefined">It's all in the Detail</span></p></div></div></div><style data-hk="0-0-1-4-0-7-1-1-0-0">
        .html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57 {
          grid-auto-flow: column;
          grid-template-columns: calc((100% - 264px) / 12 * 6 + 5 * 24px) calc((100% - 264px) / 12 * 6 + 5 * 24px);
        }
        @media screen and (max-width: 749px) {
          .html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57 {
            grid-auto-flow: row;
            grid-template-columns: none;
          }
        }
      </style><div data-hk="0-0-1-4-0-7-1-1-0-1" class="html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57 html_row " data-pe-id="html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57" style="display:grid;gap:24px;width:100%"><div data-hk="0-0-1-4-0-7-1-1-0-2-0-0-1" data-pe-id="html_imaged75edd30-d569-4233-b683-66a51417736f"><div class="html_imaged75edd30-d569-4233-b683-66a51417736f" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img loading="lazy" data-hk="0-0-1-4-0-7-1-1-0-2-0-0-0" src="https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_00b000c0cc3e40b8b87a7733ac511900.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-0" class="html_column42466ef9-0b06-4251-8a71-54a27f372792 html_column " data-pe-id="html_column42466ef9-0b06-4251-8a71-54a27f372792" style="display:flex;flex-direction:column;gap:24px;width:100%"><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-0-0-0" class="html_text5bcbc27c-0ee9-4351-b48c-5b677d90a848 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text5bcbc27c-0ee9-4351-b48c-5b677d90a848"><div class=""><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-0-0-4" class="pe_rich_text_alignLeft " style=""><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-0-0-3" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-0-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-0-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Cleaning your cushions doesn't have to be stressful. Our outdoor fabrics are built for performance. They are not only amazing to look at but also very easy to maintain in day-to-day living.</span></p></div></div></div></div><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-1-0-0" class="html_text3168d22a-c2c6-4ddc-9220-305ffc8918a9 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text3168d22a-c2c6-4ddc-9220-305ffc8918a9"><div class=""><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-1-0-3" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-1-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-1-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:28px;color:undefined">HOW TO CLEAN?</span></p></div></div></div><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-0" class="html_text56606900-d05b-423c-8696-4d709d8dff21 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text56606900-d05b-423c-8696-4d709d8dff21"><div class=""><div data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-13" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">1. Remove loose dirt off with a soft-bristled brush</span></p><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-4" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-3" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">2. Make a solution of mild soap and water and spray </span></p><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-6" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-5" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">3. Rub this in using a soft-bristled brush</span></p><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-8" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-7" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">4. Let the solution soak on the fabric</span></p><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-10" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-9" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">5. Rinse thoroughly to remove all soap</span></p><p data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-12" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-1-0-2-1-0-1-2-0-11" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">6. Let it air dry.</span></p></div></div></div></div></div><style data-hk="0-0-1-4-0-7-1-2-0-0">
        .html_row5252d417-4004-48f4-a2f1-fb0821302f1f {
          grid-auto-flow: column;
          grid-template-columns: calc((100% - 264px) / 12 * 6 + 5 * 24px) calc((100% - 264px) / 12 * 6 + 5 * 24px);
        }
        @media screen and (max-width: 749px) {
          .html_row5252d417-4004-48f4-a2f1-fb0821302f1f {
            grid-auto-flow: row;
            grid-template-columns: none;
          }
        }
      </style><div data-hk="0-0-1-4-0-7-1-2-0-1" class="html_row5252d417-4004-48f4-a2f1-fb0821302f1f html_row " data-pe-id="html_row5252d417-4004-48f4-a2f1-fb0821302f1f" style="display:grid;gap:24px;width:100%"><div data-hk="0-0-1-4-0-7-1-2-0-2-0-0-1" data-pe-id="html_image58eeafe6-5073-4682-ae29-c703a5c38516"><div class="html_image58eeafe6-5073-4682-ae29-c703a5c38516" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img loading="lazy" data-hk="0-0-1-4-0-7-1-2-0-2-0-0-0" src="https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_2049016561e24c9d9ee69e77d67ef399.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-0" class="html_column50da0e5e-db6c-4be8-a2f0-e0a8bd707f85 html_column " data-pe-id="html_column50da0e5e-db6c-4be8-a2f0-e0a8bd707f85" style="display:flex;flex-direction:column;gap:24px;width:100%"><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-0-0-0" class="html_textc0f0967e-7262-4dcd-b05b-9fa8aea27dcf " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_textc0f0967e-7262-4dcd-b05b-9fa8aea27dcf"><div class=""><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-0-0-3" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-0-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-0-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:28px;color:undefined">Treat it right!</span></p></div></div></div><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-0" class="html_textaab4c438-44da-467e-9a9d-7da7ddd83d10 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_textaab4c438-44da-467e-9a9d-7da7ddd83d10"><div class=""><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-13" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">One of the most important things with stains is early care. Here are some tips to help you avoid damage.</span></p><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-4" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-3" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined"> </span></p><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-6" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-5" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">1. DO NOT RUB. Never rub any liquid stains on the fabric, instead blot them with a dry cloth</span></p><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-8" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-7" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">2. For any oil-based stain, add absorbent such as cornstarch, once dry remove using a straight edge</span></p><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-10" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-9" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">3. Use mild cleaning soaps for spot treatment and rinse thoroughly to remove soap residue</span></p><p data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-12" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-1-0-11" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">4. Alway air dry.</span></p></div></div></div><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-2-0-2" data-pe-id="html_button06a91657-c481-40db-aae2-131916a32015"><div class="html_button06a91657-c481-40db-aae2-131916a32015" style="box-sizing:border-box;display:flex;align-items:center;justify-content:flex-start"><div data-hk="0-0-1-4-0-7-1-2-0-2-1-0-1-2-0-0" style="display:flex;padding:14px 24px;color:var(--pb--button-color);line-height:20px;font-size:14px;font-weight:700;background-color:var(--pb--button-background);width:auto;box-shadow:0px 1px 0px rgba(0, 0, 0, 0.05);border-radius:8px;justify-content:center;align-items:center;min-height:52px;position:relative"><!--#-->Read more<!--/--><!--#--><!--/--></div></div></div></div></div></div></div><div data-hk="0-0-1-4-0-7-2"></div><!--/--></div><style data-hk="0-0-1-5-0-3">
        @media only screen and (min-width: 1248px) {
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed img, .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset img, .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed img, .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset img, .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-5-0-4">
    .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9, .html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 .html_row{
      align-items: center
    }
    </style><style data-hk="0-0-1-5-0-5"></style><div data-hk="0-0-1-5-0-6" class="html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9 " data-pe-id="html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-5-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:36px 24px 36px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><style data-hk="0-0-1-5-0-7-1-0-0-0">
        .html_row99ceffe7-9d7d-40f9-9179-18d861c03434 {
          grid-auto-flow: column;
          grid-template-columns: calc((100% - 264px) / 12 * 6 + 5 * 24px) calc((100% - 264px) / 12 * 6 + 5 * 24px);
        }
        @media screen and (max-width: 749px) {
          .html_row99ceffe7-9d7d-40f9-9179-18d861c03434 {
            grid-auto-flow: row;
            grid-template-columns: none;
          }
        }
      </style><div data-hk="0-0-1-5-0-7-1-0-0-1" class="html_row99ceffe7-9d7d-40f9-9179-18d861c03434 html_row " data-pe-id="html_row99ceffe7-9d7d-40f9-9179-18d861c03434" style="display:grid;gap:24px;width:100%"><div data-hk="0-0-1-5-0-7-1-0-0-2-0-0-1" data-pe-id="html_image8d65c58f-baea-4bf6-82af-17e5e3ac97af"><div class="html_image8d65c58f-baea-4bf6-82af-17e5e3ac97af" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img loading="lazy" data-hk="0-0-1-5-0-7-1-0-0-2-0-0-0" src="https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_138ab75d585745e3ab21314336393b96.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-5-0-7-1-0-0-2-1-0-0" class="html_text6fcd94e3-7e8c-429b-8ccd-b0a10610cf45 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text6fcd94e3-7e8c-429b-8ccd-b0a10610cf45"><div class=""><div data-hk="0-0-1-5-0-7-1-0-0-2-1-0-7" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:28px;color:undefined">Washing 101</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-4" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-3" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Hand Washing</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-6" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-5" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Before washing, soak the covers in a solution of lukewarm water and mild soap. Use a sponge or soft brush to rub off the stains. Rinse thoroughly to remove all soap residue and air dry.</span></p></div><div data-hk="0-0-1-5-0-7-1-0-0-2-1-0-22" class="pe_rich_text_alignLeft " style=""><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-9" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-8" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Machine washing</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-11" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-10" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">The covers can be machine washed on a delicate cycle in cold water with a mild laundry detergent. Don't machine dry. We recommend air drying.</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-13" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-12" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Mold and Mildew</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-15" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-14" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined"> -For severe mold or mildew mix 1 cup of bleach + 1/4 cup of mild soap to a gallon of water</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-17" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-16" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">- Spray the entire area with this solution and let it soak for 15 minutes</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-19" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-18" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">- Clean the area with a dry cloth/brush or towel to remove the mold</span></p><p data-hk="0-0-1-5-0-7-1-0-0-2-1-0-21" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-5-0-7-1-0-0-2-1-0-20" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">- Rinse thoroughly and let air dry</span></p></div></div></div></div></div></div><div data-hk="0-0-1-5-0-7-2"></div><!--/--></div><style data-hk="0-0-1-6-0-3">
        @media only screen and (min-width: 1248px) {
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed img, .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset img, .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed img, .html_section874c117d-2109-4344-b92c-3532c4a7a680 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset img, .html_section874c117d-2109-4344-b92c-3532c4a7a680 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-6-0-4">
    .html_section874c117d-2109-4344-b92c-3532c4a7a680, .html_section874c117d-2109-4344-b92c-3532c4a7a680 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-6-0-5"></style><div data-hk="0-0-1-6-0-6" class="html_section874c117d-2109-4344-b92c-3532c4a7a680 " data-pe-id="html_section874c117d-2109-4344-b92c-3532c4a7a680" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-6-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-6-0-7-1-0-0-0" class="html_text67885029-ad3d-43a8-8dcb-c934dd2c20fa " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_text67885029-ad3d-43a8-8dcb-c934dd2c20fa"><div class=""><div data-hk="0-0-1-6-0-7-1-0-0-3" class="pe_rich_text_alignCenter " style=""><p data-hk="0-0-1-6-0-7-1-0-0-2" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-6-0-7-1-0-0-1" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:20px;color:undefined">Cleaning Difficult Stains</span></p></div></div></div></div></div><div data-hk="0-0-1-6-0-7-2"></div><!--/--></div><style data-hk="0-0-1-7-0-3">
        @media only screen and (min-width: 1248px) {
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed img, .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset img, .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed img, .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset img, .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-7-0-4">
    .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0, .html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-7-0-5"></style><div data-hk="0-0-1-7-0-6" class="html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0 " data-pe-id="html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-7-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-7-0-7-1-0-0-0" class="html_texte1c891c1-0216-4fef-abe5-7567b9f7561e " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial" data-pe-id="html_texte1c891c1-0216-4fef-abe5-7567b9f7561e"><div class=""><div data-hk="0-0-1-7-0-7-1-0-0-6" class="pe_rich_text_alignCenter " style=""><p data-hk="0-0-1-7-0-7-1-0-0-5" class="pe_rich_text_paragraph " style=""><span data-hk="0-0-1-7-0-7-1-0-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:undefined"> </span><a data-hk="0-0-1-7-0-7-1-0-0-3" href="https://cdn.glenraven.net/sb2016/pdf/care-and-cleaning/sunbrella-cleaning-guide-en-us.pdf" target="_self"><span data-hk="0-0-1-7-0-7-1-0-0-2" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:16px;color:undefined">Download Complete Sunbrella® Cleaning Guide</span></a><span data-hk="0-0-1-7-0-7-1-0-0-4" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:undefined"> </span></p></div></div></div></div></div><div data-hk="0-0-1-7-0-7-2"></div><!--/--></div><style data-hk="0-0-1-8-0-3">
        @media only screen and (min-width: 1248px) {
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed img, .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset img, .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed img, .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset img, .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-8-0-4">
    .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02, .html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-8-0-5"></style><div data-hk="0-0-1-8-0-6" class="html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02 " data-pe-id="html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02" style="width:100%;min-height:50px;background-color:var(--pb-bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-8-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-8-0-7-1-0-0-0" class="pb_custom_code6161584f-2fb2-48dd-b688-afbdcbe345f5 " style="min-height:20px" data-pe-id="pb_custom_code6161584f-2fb2-48dd-b688-afbdcbe345f5"><style>.pb-custom-code-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(234, 234, 234);
}

.pb-custom-code-title {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.pb-custom-code-content {
  margin-top: 8px;
  padding: 0 8px;
  text-align: center;
  font-size: 16px;
}

.pb-custom-code-button {
  margin-top: 16px;
  margin-bottom: 30px;
  height: 36px;
  line-height: 33px;
  width: 147px;
  background: #ffffff;
  color: black;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #afb2b6;
  font-weight: 500;
}

.pb-custom-code-rich-text {
  color: var(--pb--description-color);
  overflow: hidden;
}</style><!--#--><div data-hk="0-0-1-8-0-7-1-0-0-1-0" class="pb-custom-code-rich-text">


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #fffff;
  color: #444;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ff6161;
}

.panel {
  padding: 0 25px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 2px;
}
</style>

<body>

<button class="accordion">Bird Droppings</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.
</p>
</div>

<button class="accordion">Ketchup or Mustard</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.
</p>
</div>

<button class="accordion">Chewing Gum</button>
<div class="panel">
  <p>Treat with isopropyl alcohol. Then clean with 1/4 cup dishwashing liquid per 1 gallon water.
</p>
</div>
<button class="accordion">Dried Chocolate stains</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid and 1/2 cup hydrogen peroxide per 1 gallon water.</p>
</div>
 <button class="accordion">Coffee stains</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.</p>
</div> 
   <button class="accordion">Soda or Cola stains</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.</p>
</div> 
     <button class="accordion">Crayon</button>
<div class="panel">
  <p>Treat with isopropyl alcohol. Then clean with 1/4 cup dishwashing liquid per 1 gallon water.</p>
</div> 
       <button class="accordion">Food Color</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid and 1/3 cup white vinegar per 1 gallon water.</p>
</div> 
  <button class="accordion">Grape Juice</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.</p>
</div> 
  <button class="accordion">Grease</button>
<div class="panel">
  <p>Apply cornstarch as an absorbent, remove excess with a straight edge, clean up residual with dishwashing liquid and water.</p>
</div> 
   <button class="accordion">Iron rust stains</button>
<div class="panel">
  <p>Treat with CLR® and rinse thoroughly.
</p>
</div>
     <button class="accordion">Mildew</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid and 1 cup bleach per 1 gallon water.</p>
</div>
   <button class="accordion">Nail Paint</button>
<div class="panel">
  <p>Treat with volatile solvent (acetone 100%). Then clean with soap and water and rinse thoroughly.</p>
</div>
  <button class="accordion">Oil Stains</button>
<div class="panel">
  <p>Apply cornstarch as an absorbent, remove excess with a straight edge, clean up residual with dishwashing liquid and water.</p>
</div>
    <button class="accordion">Wet or dried paint (Latex, lacquer or oil)</button>
<div class="panel">
  <p>Apply cornstarch as an absorbent, remove excess with a straight edge, clean up residual with dishwashing liquid and water.
  </p>
</div>
  <button class="accordion">Tea</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid per 1 gallon water.
</p>
</div>
  <button class="accordion">Vomit</button>
<div class="panel">
  <p>Combine 1/4 cup dishwashing liquid and 1/3 cup white vinegar per 1 gallon water.</p>
</div>
  <button class="accordion">Candle Wax</button>
<div class="panel">
  <p>Apply heated iron over towel. Treat with isopropyl alcohol. Then clean with 1/4 cup dishwashing liquid per 1 gallon water.</p>
</div>
  <button class="accordion">Wine</button>
  <div class="panel">
  <p>Combine 1/4 cup dishwashing liquid, 1/3 cup white vinegar and 1/2 cup - 1 cup isopropyl alcohol or hydrogen peroxide per 1 gallon water.
</p>
 </div>
  <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>



</div><!--/--></div></div></div><div data-hk="0-0-1-8-0-7-2"></div><!--/--></div><!--/--></div><script>var e,t;e=window._$HY||(_$HY={events:[],completed:new WeakSet,r:{}}),t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")?e:t(e.host&&e.host instanceof Node?e.host:e.parentNode)),["click","input"].forEach((o=>document.addEventListener(o,(o=>{let s=o.composedPath&&o.composedPath()[0]||o.target,a=t(s);a&&!e.completed.has(a)&&e.events.push([a,o])})))),e.init=(t,o)=>{e.r[t]=[new Promise(((e,t)=>o=e)),o]},e.set=(t,o,s)=>{(s=e.r[t])&&s[1](o),e.r[t]=[o]},e.unset=t=>{delete e.r[t]},e.load=t=>e.r[t];</script><!--xs-->
			</div>
			<script type="module">
				import { PE } from "https://page-builder.automizely.com/editorv2/client-0.2.8/client.js";
					PE.initCollect()
					PE.BlockManager.renderPage({"static":{"page":{"type":"html_page","idx":"page","data":{"value":{"styleVar":{"--pb--bg-color":"#fff","--pb--font-family":"Montserrat","--pb--heading-color":"#232933","--pb--description-color":"#232933","--pb--button-color":"#FFFFFF","--pb--button-background":"#232933"},"body":{"fontFamily":"Abril Fatface"}}},"children":["header0","pb_power_bya4bc2699-28d5-440d-9629-b2211db1b820","html_section2ab05b94-547f-4623-8b79-09a80797974e","section0","html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d","html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9","html_section874c117d-2109-4344-b92c-3532c4a7a680","html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0","html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02","footer0"]},"header0":{"type":"pb_header","idx":"header0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"footer0":{"type":"pb_footer","idx":"footer0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"section0":{"type":"html_section","idx":"section0","data":{"value":{"jumpUrl":""},"layout":[]},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","height":"small","row-align":"start"},"children":["html_text06f0f62e-7ac9-4d0e-b6ae-d5ed43f2ed24"]},"pb_power_bya4bc2699-28d5-440d-9629-b2211db1b820":{"type":"pb_power_by","data":{"value":{"isShow":false}},"styles":{},"idx":"pb_power_bya4bc2699-28d5-440d-9629-b2211db1b820","children":[]},"html_text06f0f62e-7ac9-4d0e-b6ae-d5ed43f2ed24":{"type":"html_text","data":{"value":{"content":[{"type":"alignCenter","children":[{"type":"paragraph","children":[{"text":"Cleaning Sunbrella® Fabrics","bold":true,"fontSize":"28px","color":"#ff6161"}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text06f0f62e-7ac9-4d0e-b6ae-d5ed43f2ed24","children":[]},"html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":1,"image-width":"full-bleed","row-align":"center","height":"small"},"children":["html_textda019e98-684a-44b0-965c-cf91f3fda239","html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57","html_row5252d417-4004-48f4-a2f1-fb0821302f1f"],"idx":"html_sectionb8898c21-1b37-4025-9c25-eedcbda41a6d"},"html_textda019e98-684a-44b0-965c-cf91f3fda239":{"type":"html_text","data":{"value":{"content":[{"type":"alignCenter","children":[{"type":"paragraph","children":[{"text":"It's all in the Detail","fontSize":"28px","bold":true}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_textda019e98-684a-44b0-965c-cf91f3fda239","children":[]},"html_imaged75edd30-d569-4233-b683-66a51417736f":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_00b000c0cc3e40b8b87a7733ac511900.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imaged75edd30-d569-4233-b683-66a51417736f","children":[]},"html_text3168d22a-c2c6-4ddc-9220-305ffc8918a9":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"text":"HOW TO CLEAN?","fontSize":"28px","bold":true}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text3168d22a-c2c6-4ddc-9220-305ffc8918a9","children":[]},"html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57":{"idx":"html_rowc363e2d9-ab5d-4f64-981e-d704596cfa57","data":{"value":{},"layout":[6,6]},"styles":{},"type":"html_row","children":["html_imaged75edd30-d569-4233-b683-66a51417736f","html_column42466ef9-0b06-4251-8a71-54a27f372792"]},"html_text56606900-d05b-423c-8696-4d709d8dff21":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"fontSize":"16px","text":"1. Remove loose dirt off with a soft-bristled brush"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"2. Make a solution of mild soap and water and spray "}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"3. Rub this in using a soft-bristled brush"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"4. Let the solution soak on the fabric"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"5. Rinse thoroughly to remove all soap"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"6. Let it air dry."}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text56606900-d05b-423c-8696-4d709d8dff21","children":[]},"html_column42466ef9-0b06-4251-8a71-54a27f372792":{"idx":"html_column42466ef9-0b06-4251-8a71-54a27f372792","data":{"value":{}},"styles":{},"type":"html_column","children":["html_text5bcbc27c-0ee9-4351-b48c-5b677d90a848","html_text3168d22a-c2c6-4ddc-9220-305ffc8918a9","html_text56606900-d05b-423c-8696-4d709d8dff21"]},"html_image58eeafe6-5073-4682-ae29-c703a5c38516":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_2049016561e24c9d9ee69e77d67ef399.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image58eeafe6-5073-4682-ae29-c703a5c38516","children":[]},"html_textc0f0967e-7262-4dcd-b05b-9fa8aea27dcf":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"text":"Treat it right!","fontSize":"28px","bold":true}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_textc0f0967e-7262-4dcd-b05b-9fa8aea27dcf","children":[]},"html_row5252d417-4004-48f4-a2f1-fb0821302f1f":{"idx":"html_row5252d417-4004-48f4-a2f1-fb0821302f1f","data":{"value":{},"layout":[6,6]},"styles":{},"type":"html_row","children":["html_image58eeafe6-5073-4682-ae29-c703a5c38516","html_column50da0e5e-db6c-4be8-a2f0-e0a8bd707f85"]},"html_textaab4c438-44da-467e-9a9d-7da7ddd83d10":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"fontSize":"16px","text":"One of the most important things with stains is early care. Here are some tips to help you avoid damage."}]},{"type":"paragraph","children":[{"fontSize":"16px","text":""}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"1. DO NOT RUB. Never rub any liquid stains on the fabric, instead blot them with a dry cloth"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"2. For any oil-based stain, add absorbent such as cornstarch, once dry remove using a straight edge"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"3. Use mild cleaning soaps for spot treatment and rinse thoroughly to remove soap residue"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"4. Alway air dry."}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_textaab4c438-44da-467e-9a9d-7da7ddd83d10","children":[]},"html_column50da0e5e-db6c-4be8-a2f0-e0a8bd707f85":{"idx":"html_column50da0e5e-db6c-4be8-a2f0-e0a8bd707f85","data":{"value":{}},"styles":{},"type":"html_column","children":["html_textc0f0967e-7262-4dcd-b05b-9fa8aea27dcf","html_textaab4c438-44da-467e-9a9d-7da7ddd83d10","html_button06a91657-c481-40db-aae2-131916a32015"]},"html_button06a91657-c481-40db-aae2-131916a32015":{"type":"html_button","data":{"value":{"href":"","content":"Read more"},"layout":[]},"styles":{"align":"flex-start","background-color":"var(--pb--button-background)","color":"var(--pb--button-color)","border":"none"},"idx":"html_button06a91657-c481-40db-aae2-131916a32015","children":[]},"html_image8d65c58f-baea-4bf6-82af-17e5e3ac97af":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_138ab75d585745e3ab21314336393b96.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image8d65c58f-baea-4bf6-82af-17e5e3ac97af","children":[]},"html_text6fcd94e3-7e8c-429b-8ccd-b0a10610cf45":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"text":"Washing 101","bold":true,"fontSize":"28px"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"Hand Washing","bold":true}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"Before washing, soak the covers in a solution of lukewarm water and mild soap. Use a sponge or soft brush to rub off the stains. Rinse thoroughly to remove all soap residue and air dry."}]}]},{"type":"alignLeft","children":[{"type":"paragraph","children":[{"fontSize":"16px","text":"Machine washing","bold":true}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"The covers can be machine washed on a delicate cycle in cold water with a mild laundry detergent. Don't machine dry. We recommend air drying."}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"Mold and Mildew","bold":true}]},{"type":"paragraph","children":[{"fontSize":"16px","text":" -For severe mold or mildew mix 1 cup of bleach + 1/4 cup of mild soap to a gallon of water"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"- Spray the entire area with this solution and let it soak for 15 minutes"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"- Clean the area with a dry cloth/brush or towel to remove the mold"}]},{"type":"paragraph","children":[{"fontSize":"16px","text":"- Rinse thoroughly and let air dry"}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text6fcd94e3-7e8c-429b-8ccd-b0a10610cf45","children":[]},"html_row99ceffe7-9d7d-40f9-9179-18d861c03434":{"idx":"html_row99ceffe7-9d7d-40f9-9179-18d861c03434","data":{"value":{},"layout":[6,6]},"styles":{},"type":"html_row","children":["html_image8d65c58f-baea-4bf6-82af-17e5e3ac97af","html_text6fcd94e3-7e8c-429b-8ccd-b0a10610cf45"]},"html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9":{"type":"html_section","data":{"value":{"jumpUrl":""},"layout":[]},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","height":"small","row-align":"center"},"children":["html_row99ceffe7-9d7d-40f9-9179-18d861c03434"],"idx":"html_sectionbfc4b039-a41c-4ca3-8a00-7b28fe8a52d9"},"html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["pb_custom_code6161584f-2fb2-48dd-b688-afbdcbe345f5"],"idx":"html_sectionf3d2b1f8-8ef0-4b1d-bb82-fcb64bb42c02"},"html_section874c117d-2109-4344-b92c-3532c4a7a680":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["html_text67885029-ad3d-43a8-8dcb-c934dd2c20fa"],"idx":"html_section874c117d-2109-4344-b92c-3532c4a7a680"},"html_text67885029-ad3d-43a8-8dcb-c934dd2c20fa":{"type":"html_text","data":{"value":{"content":[{"type":"alignCenter","children":[{"type":"paragraph","children":[{"text":"Cleaning Difficult Stains","fontSize":"20px","bold":true}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text67885029-ad3d-43a8-8dcb-c934dd2c20fa","children":[]},"html_section2ab05b94-547f-4623-8b79-09a80797974e":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["html_image75782fd6-1bee-4dc5-98ac-61b955c7450d"],"idx":"html_section2ab05b94-547f-4623-8b79-09a80797974e"},"html_image75782fd6-1bee-4dc5-98ac-61b955c7450d":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/a49db76f2345962488db7e850450f605500accc3/image_upload_7074ef04e8ad43b9ab0d1ce5e9de324a.jpeg","href":""}},"styles":{"width":"65%","align":"center","height":"auto"},"idx":"html_image75782fd6-1bee-4dc5-98ac-61b955c7450d","children":[]},"html_text5bcbc27c-0ee9-4351-b48c-5b677d90a848":{"type":"html_text","data":{"value":{"content":[{"type":"alignLeft","children":[{"type":"alignLeft","children":[{"type":"paragraph","children":[{"fontSize":"16px","text":"Cleaning your cushions doesn't have to be stressful. Sunbrella fabric is built for performance. They are not only amazing to look at but also very easy to maintain in day-to-day living."}]}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_text5bcbc27c-0ee9-4351-b48c-5b677d90a848","children":[]},"pb_custom_code6161584f-2fb2-48dd-b688-afbdcbe345f5":{"type":"pb_custom_code","data":{"value":{"richText":""}},"styles":{},"idx":"pb_custom_code6161584f-2fb2-48dd-b688-afbdcbe345f5","children":[]},"html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"var(--pb-bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["html_texte1c891c1-0216-4fef-abe5-7567b9f7561e"],"idx":"html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0"},"html_texte1c891c1-0216-4fef-abe5-7567b9f7561e":{"type":"html_text","data":{"value":{"content":[{"type":"alignCenter","children":[{"type":"paragraph","children":[{"text":""},{"type":"link","url":"https://cdn.glenraven.net/sb2016/pdf/care-and-cleaning/sunbrella-cleaning-guide-en-us.pdf","target":"_self","children":[{"text":"Download Complete Sunbrella® Cleaning Guide","fontSize":"16px"}]},{"text":""}]}]}]}},"styles":{"padding":"10px 25px 10px 25px","text-align":"left"},"idx":"html_texte1c891c1-0216-4fef-abe5-7567b9f7561e","children":[]}},"mutation":{"mobile":{"html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0":{"type":"html_section","idx":"html_section393d2fc1-3b21-44cb-8af6-7d21ca1737a0","data":{"value":{}},"styles":{"background-image":"","image-width":"full-bleed"}}}},"page":{"type":"regular-page","connectionId":"f8b19ada100040e9b42d5ce99227f588","env":"production"}}, 'production', document.getElementById('pb-root'));
					PE.renderStickyAddToCartBar();
			</script>





		