<div class="shogun-root" data-shogun-id="632cbef4ccf96100cb23250b" data-shogun-site-id="ab77d453-a070-4af1-ba28-6196de647fd9" data-shogun-section-id="632cbef4ccf96100cb23250b" data-shogun-section-version-id="632cbf8cccf96100f322e6c2" data-shogun-platform-type="shopify" data-shogun-variant-id="632cbf8dccf96100f322ea40" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/632cbf8dccf96100f322ea40.css" />


<div id="s-5460d954-ac99-437a-b3f2-ecfd48addd49"  class="shg-c  ">
  
  <div id="slider-s-5460d954-ac99-437a-b3f2-ecfd48addd49" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
          
            <div class="shg-sld-item shg-sld-active">
          
          <div class="shg-sld-fade">
            
  <div
    class="shg-c  "
    id="s-a692decd-5de7-420e-9020-81cdd853eea0"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-2f985779-b891-48c3-b204-748f90f9cc81"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      Heading
    
  </h1>
</div>

</div>
<div id="s-6a6e276c-0f70-484f-8aeb-a255ec4854a3"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"></div>

</div>
</div>
      <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-d59f2cd1-73cb-4890-8dde-4dcf80b7f6e8"  class="shg-c  ">
  
  <div id="slider-s-d59f2cd1-73cb-4890-8dde-4dcf80b7f6e8" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-d59f2cd1-73cb-4890-8dde-4dcf80b7f6e8',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>
</div>
      
      
      
      
    </div>
  </div>


          </div>
        </div>
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
          <div class="shg-sld-dot shg-sld-active"></div>
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-5460d954-ac99-437a-b3f2-ecfd48addd49',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>

<div id="s-3990fc67-252d-41d0-a9b0-8566486933da"  class="shg-c  ">
  
  <div id="slider-s-3990fc67-252d-41d0-a9b0-8566486933da" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
          
            <div class="shg-sld-item shg-sld-active">
          
          <div class="shg-sld-fade">
            
  <div
    class="shg-c  "
    id="s-122279d4-0928-4e24-b5ef-4661f13328ef"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-c934c256-4450-4f2a-a7e8-bd3ecfcc6657"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      Heading
    
  </h1>
</div>

</div>
<div id="s-eb4bc333-09c9-456a-97e1-89059edf95a8"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"></div>

</div>
</div>
      <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-7db4fe9c-af5a-4d3a-89bb-b61b1e99f14f"  class="shg-c  ">
  
  <div id="slider-s-7db4fe9c-af5a-4d3a-89bb-b61b1e99f14f" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-7db4fe9c-af5a-4d3a-89bb-b61b1e99f14f',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>
</div>
      
      
      
      
    </div>
  </div>


          </div>
        </div>
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
          <div class="shg-sld-dot shg-sld-active"></div>
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-3990fc67-252d-41d0-a9b0-8566486933da',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>

<div id="s-0cbe5c9a-979c-4da4-ba6c-a6c0d171d718"  class="shg-c  ">
  
  <div id="slider-s-0cbe5c9a-979c-4da4-ba6c-a6c0d171d718" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
          
            <div class="shg-sld-item shg-sld-active">
          
          <div class="shg-sld-fade">
            
  <div
    class="shg-c  "
    id="s-7b2c00ed-90d2-4098-bf6a-b86c0619c26b"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-fa353f44-825c-4d46-b03d-818e8b57dde8"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      Heading
    
  </h1>
</div>

</div>
<div id="s-2b1702e5-a0b1-4382-b12c-adf7b6f47279"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"></div>

</div>
</div>
      <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-8da108f4-678d-45ee-b4b5-d708fe0c47e5"  class="shg-c  ">
  
  <div id="slider-s-8da108f4-678d-45ee-b4b5-d708fe0c47e5" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-8da108f4-678d-45ee-b4b5-d708fe0c47e5',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>
</div>
      
      
      
      
    </div>
  </div>


          </div>
        </div>
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
          <div class="shg-sld-dot shg-sld-active"></div>
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-0cbe5c9a-979c-4da4-ba6c-a6c0d171d718',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>

<div id="s-91039a73-f96c-41ab-92d4-6a803d9bf206"  class="shg-c  ">
  
  <div id="slider-s-91039a73-f96c-41ab-92d4-6a803d9bf206" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
          
            <div class="shg-sld-item shg-sld-active">
          
          <div class="shg-sld-fade">
            
  <div
    class="shg-c  "
    id="s-fd8d67e0-84e9-476a-97d7-8ae7e14a6f82"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-51d65f15-e909-4b2f-bd39-2262ee566c75"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h1>
    
      Heading
    
  </h1>
</div>

</div>
<div id="s-124ffcd2-6e5a-4e5c-a25d-d0c64dc49412"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"></div>

</div>
</div>
      <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-cc9245cc-7866-4fb4-ac9b-ad03bd141e3e"  class="shg-c  ">
  
  <div id="slider-s-cc9245cc-7866-4fb4-ac9b-ad03bd141e3e" class="shg-sld">
    <div class="shg-sld-content">
      
        <div class="shg-sld-nav-button shg-sld-left ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/>
          </svg>
        </div>
      

      <div class="shg-sld-slides shg-sld-slides-padded">
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right ">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-cc9245cc-7866-4fb4-ac9b-ad03bd141e3e',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>
</div>
      
      
      
      
    </div>
  </div>


          </div>
        </div>
        
      </div>

      
        <div class="shg-sld-nav-button shg-sld-right shg-sld-disabled">
          <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/>
          </svg>
        </div>
      
    </div>

    
      <div class="shg-sld-dots">
        
          <div class="shg-sld-dot shg-sld-active"></div>
        
      </div>
    
  </div>



<script type="text/javascript">
  window.SHOGUN_SLIDERS = window.SHOGUN_SLIDERS || new Array();
  window.SHOGUN_SLIDERS.push({
    id: '#slider-s-91039a73-f96c-41ab-92d4-6a803d9bf206',
    intervalTime: 5,
    autoplay: false,
    pauseOnHover: false,
    interval: null
  })
</script>

</div>

<script type="text/javascript" src="https://cdn.getshogun.com/5/global-assets-32e6dc0ce0c14084af17cf9924712c8f6baa7f63.js" defer></script>

</div>

{% schema %}
  {
    "name": "gallery",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=632cbef4ccf96100cb23250b&shop=zipcushions.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "gallery",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
