.footer--classic .is-justify-space-between:before{
    display:none;
}

.customize-description {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
}
.customize-description .container{
    width: 70%;
}
.customize-description-box {
    display: block;
    background: rgba(57,57,57,0.77);
    border-style: none;
    border-radius: 0px;
    left: 7px;
    top: 0px;
    z-index: 10;
    width: 400px;
    height: 100%;
    padding: 90px 30px;
}
.customize-description-box h2{
    color: #fff;
    font-size: 4em;
    line-height: 1em;
    font-weight: 700;
}
.customize-description-box p {
    color: #82eeff;
    font-size: 22px;
    font-weight: 500;
    width: 70%;
    line-height: 26px;
}
.customize-from-section .container{
    width: 70%;
}
.customize-from-section{
    padding:80px 0;
}
.customize-from-row{
    display: flex;
    max-width: 100%;
    min-width: 100%;
    justify-content: space-between;
}
.customize-icon-list ul li {
    width: 44%;
    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 15px 30px;
}
.customize-icon-list ul li h5{
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;
}
.customize-from-list {
    display: block;
    background: rgba(21,47,46,1);
    border-style: none;
    border-radius: 0;
    z-index: 12;
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    height: 100%;
    padding: 40px;
    transform: translate(0px, -120px);
}
.customize-from-list h4{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
}
.customize-from-list p {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    width: 70%;
    margin: 15px auto;
}
.from-customize input {
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}
.from-customize textarea{
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}
.from-customize input[type="submit"]{
    background: #61ce28;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    min-height: 55px;
    border: none;
}
.build-custom-cushions-description .container{
    width: 70%;
}
.build-custom-cushions-box h2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.build-custom-cushions-box {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.build-custom-cushions-box h2 strong{
    display: block;
}
.build-custom-cushions-box p{
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
    font-weight: 500;
}
.build-custom-cushions-box{
    text-align: center;
}
.build-custom-cushions-box a.btn {
    background: rgba(0,184,187,1);
    box-shadow: none;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 10px;
}
.build-custom-cushions-col {
    margin-top: 50px;
}
.build-custom-cushions-description{
    padding:80px 0;
    position:relative;
}
.build-custom-cushions-description{
    position:relative;
}
.build-custom-cushions-description:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 65%;
    background: rgba(232,251,251,1);
    z-index: -1;
}
.unmatched-quality-description-content .container{
    width: 70%;
}
.unmatched-quality-row{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    text-align: center;
}
.unmatched-quality-row h3 {
    color: #00c2c5;
    font-size: 30px;
}
.unmatched-quality-row .unmatched-quality-list ul li h4 {
    font-size: 24px;
    font-weight: 600;
}
.unmatched-quality-row .unmatched-quality-list ul li {
    width: 46%;
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
}
.unmatched-quality-description-content-bottom{
    padding-top: 50px;
    padding-bottom: 40px;
}
.from-testmonial-section{
    padding:70px 0;
}
.from-testmonial-section .container{
    width: 70%;
}
.from-testmonial-row{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    text-align: center;
}
.from-testmonial-row h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    font-weight: 600;
}
.from-testmonial-list h4 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-weight: 600;
}
.from-testmonial-list{
    padding-top: 50px;
}
.from-testmonial-list ul{
    display: flex;
    gap: 40px;
}
.from-testmonial-list ul li {
    padding: 25px;
}

.from-galley-section{
    background: rgba(232,251,251,1);
    padding: 80px 0;
}
.from-galley-section .container{
    width: 70%;
}
.from-galley-row{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    text-align: center;
}
.from-galley-row h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    font-weight: 600;
}

.from-galley-list{
    padding-top: 40px;
}
.from-galley-list ul li {
    max-width: 30%;
    min-width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: 5px #fff solid;
}
.from-galley-list ul li img {
    max-width: 100%;
    min-width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}
.full-banner{
    position: relative;
}
.full-banner-img img{
    width: 100%;
    min-height: 450px;
    object-fit: cover !important;
    max-height: 450px;
}
.all-banner-content-row {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 6%;
    transform: translateY(-50%);
    background: rgb(255,255,255,.6);
    padding: 35px;
    width: 40%;
}
.all-banner-content-row h2.all-banner-title {
    font-size: 40px;
    font-weight: 800;
}
.all-banner-content-row a{
    border: 2px #61ce28 solid;
    display: inline-block;
    width: auto;
    max-width: 130px;
    padding: 7px 10px;
    text-align: center;
    color: #fff;
    background: #61ce28;
    margin-top: 12px;
}
.all-banner-content-row a:hover{
    border: 2px #111 solid;
    color: #fff;
    background: #111;
}



/* Responsive */

@media (min-width: 768px) and (max-width: 1280px) {

.customize-icon-list ul li {
    width: 44%;
    margin: 8px;
}
.customize-from-section .container {
    width: 90%;
}
.from-galley-list ul li {
    max-width: 45%;
    min-width: 45%;
}
  
}


@media only screen and (max-width: 767px) {

.customize-from-section .container {
    width: 90%;
}
.customize-from-row {
    display: block;
}
.customize-icon-list ul li {
    width: 100%;
    margin: 10px 0;
}
.customize-from-list {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    padding: 40px;
    transform: translateY(0px);
}
.build-custom-cushions-box a.btn {
    padding: 10px 20px;
    font-size: 17px;
}
.unmatched-quality-row .unmatched-quality-list ul li {
    width: 100%;
}
.unmatched-quality-description-content .container {
    width: 90%;
}
.from-galley-section .container {
    width: 90%;
}
.from-galley-list ul li {
    max-width: 100%;
    min-width: 100%;
    margin: 10px 0;
}
.from-testmonial-list ul {
    display: block;
}
.build-custom-cushions-box h2 {
    font-size: 36px;
}
.all-banner-content-row {
    width: 80%;
}

  
}