.mynextsection {
    margin-bottom: 100px;
  margin-top: 70px;}

h2.mygreentext{font-size: 35px;
margin-top: -5px !important;
  margin-bottom: 30px;}

.leftcon h2.heading-title {color: #0CCCEB;padding-left: 30px;
font-size: 35px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.2em;
  margin-bottom: 30px;}

.bluebg{background: #ECFCFF;padding: 30px;}

.globo-form-id-65886 .globo-form-app {
  padding: 32px !important;}

.leftcon h3.image-box-title{margin-bottom: 5px;
  font-weight: 600;}

.globo-form-id-65886 .globo-form-app .globo-heading {
    color: #000;
  text-align: center !important;}


.leftcon .image-box-description{font-size: 18px;}

.review-1, .review-2, .review-3, .review-4, .review-5, .review-6, .review-7 {
  display: flex;
    align-items: center;
  margin-bottom: 30px;
}
.foam-cont1, .foam-cont2 {
  padding-right: 30px;
}
.foam-cont {
  padding-left: 30px;
}
.foam-1, .foam-2, .foam-3 {
   display: flex;
    align-items: center;
  margin-bottom: 30px;
}
.review-con, .review-cont {
  padding-left: 30px;
}
.enrm-overlay-container.fade.magnifier {
  background-color: transparent !important;
}
.enrm-fas, .one-whole.column .enrm-branding a, .banner__heading, #enrm-branding-13628 a, #enap-slider-13628 #enrm-branding-13628 {
  display: none !important;
}
.ins-sec #enap-slider-13628 .enrm-gallery-name #enrm-branding-13628 {
  display: none !important;
}
#enrm-branding-13628 {
  color: white;
}
.enrm-square-img.enrm-img-wrapper {
  border-radius: 10px !important;
}
.ins-sec {
  display: flex;
  align-items: center;
}
.ins-cont::after {
  content: '';
  border-bottom: 5px solid #ebebeb;
  width: 90%;
  margin: 0px auto;
  display: block;
  position: relative;
  margin-top: 30px !important;
}
.foam-h h3, .reviews-h h3, .custom-h h3{
  text-align: center !important;
    font-size: 46px;
    color: #333;
    margin-bottom: 15px !important;
    position: relative;
    line-height: 100%;
    font-weight: bold !important;
    margin-top: -8px;
    text-transform: none;
    position: relative;
}
.foam-p, .ins-h, .reviews-h, .custom-p {
      position: relative;
  margin-bottom: 15px;
}

.foam-h p, .rev-p, .custom-h p {
    margin-top: 8px!important;
    color: #333!important;
    text-align: center;
    font-weight: 500px!important;
    font-family: Work Sans,sans-serif;
    font-size: 18px!important;
    padding-bottom: 40px!important;
}
.foam-p::after, .rev-p::after, .custom-p::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -88px -118px;
    background-image: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/sprite.png?v=1638514018);
}
.ins-h h3, .pay-war h3, .ship-ret h3, .terms-cond h3{
  text-align: center !important;
    font-size: 46px;
    color: #333;
    padding-bottom: 40px;
    margin-bottom: 15px !important;
    position: relative;
    line-height: 100%;
    font-weight: bold !important;
    margin-top: -8px;
    text-transform: none;
    position: relative;
}
.is-bordered .ins-h h3::after, .pay-war h3::after, .ship-ret h3::after, .terms-cond h3::after {
  content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 30px;
    background-image: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/sprite.png?v=1638514018);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -88px -118px;
    top: auto;
}

#shopify-section-163836492667c2b2d4 .caption-content {
    width: 60%!important;}


.asubtitle a{font-size: 18px!important;
    color: #fff!important;
    display: block!important;
    line-height: 50px!important;
    text-align: left;
    background: #61ce28!important;
    padding: 0 15px 0 10px!important;
    border-radius: 0 5px 5px 0!important;
    max-width: 265px!important;
    position: relative;
    margin: 25px 0 0 55px!important;
    border: none!important;
    transition: none!important;
    text-transform: capitalize;
    display: inline-block!important;
    font-weight: 500;}


.address ul li img{padding-right: 20px;float: left;}

.address ul li{ padding-bottom: 20px;}

.myaffirmsection h1.sub-banner-title{
    font-size: 46px;
    font-weight: 400;
    text-align: center;
    max-width: 600px;
    display: block;
    margin: 3em auto 0!important;
    line-height: 140%;
    color: #fff;}

.buy-wrap p.smart-btn{margin-top: 40px;}

body > section > section > div.mybreadcrumbs > nav > span:nth-child(3){color: #13deff!important;}

.myfloatleft li{height: 330px;}


@media only screen and (max-width: 500px) {
  
  .logos li {
    width: 30%;}
  
  .bluebg {
    background: #ecfcff;
    padding: 10px;}
  
 #shopify-section-page__main > main > div.page__content.content.container.table.is-striped.is-bordered > div > div.bluebg > div.leftcon > div:nth-child(2) > div > div > figure > img
  {width: 40%;}
  
  .image-box-content {
    width: 100%;
    margin-bottom: 20px;
    float: none;text-align: center;}
  
  .leftcon position-left {
    clear: both;
    text-align: center;}
  
  .image-box-img {
    width: auto;
    float: none;
    text-align: center !important;
  }
  
  .leftcon .content figure, .leftcon .shopify-policy__body figure {
    margin-left: 0;
    margin-right: 0;}
  
  .leftcon h2.heading-title {
    font-size: 17px;padding-left: 0;}
  
  .leftcon {
    float: none;
    padding-top: 0;
    width: 100%;
  }
  
  .rightcon {
    float: none;
    width: 100%;}
  
  .mynextsection h2{font-size: 20px !important;}
  
  .stepblock {
    width: 93% !important;}
  .mygreenbutton {
    padding: 14px 30px;
    font-size: 12px;}
  
  .myfloatleft li{height: auto;}
  
.footer__block.block__newsletter, .footer__block.block__html {
    width: 100%;
}

body .myaffirmsection h1.sub-banner-title { margin: 0em auto 0 !important;font-size: 25px;    margin-top: 85px  !important;
}
  
.myaffirmsection .image-with-text-overlay .mobile-text--below-media.has-border .caption-content{ padding: 0px;}
  
.myaffirmsection .buy-wrap { margin: 0px auto 0px;} 
  
.myaffirmsection .buy-wrap > li strong { text-align: left;  float: none;}
  
.myaffirmsection .subtitle span {margin-left: 0;
float: none;
font-size: 15px;}
  
.myaffirmsection li{  clear: both; }
  
 
  
.myaffirmsection .image-with-text-overlay .mobile-text--below-media .caption{margin-top: 0px!important;}

  
  .lefttrack {
  width: 100%;
margin-top: 10px;}
  
  
  .righttrack {
    width: 100%;
    margin-top: 10px;}

  
  
}  
  
  
  

  










































