@media (min-width: 2400px){
.giraffly_announce_first span {
    font-size: 25px!important;
    /* width: 100%; */
    /* letter-spacing: 5px; */
}}
body:not(.search) .hide-when-banner-enabled {
    display: none !important;
  }
div#template-product {
    padding-top: 20px;
    padding-bottom: 20px;
}
.vertical-spacing-medium .heading-divider {
    margin-top: 10px;
    background: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/t/6/assets/dimond.png?v=1638364335) no-repeat;
    padding: 20px 70px;
  border: none;}


.footer--classic::before {
    content: "";
    position: absolute;
    top: -90px;
    right: 0px;
    height: 95px;
    width: 100%;
    display: block;
    margin: 0;
        background-size: auto;
    background-size: 100% 100%;
  z-index: 9;}

.footer--classic{
    margin: 0px auto 0px !important;
    font-size: 16px;
    padding: 0;
    background: #f7f8fb;
  position: relative;}

#shopify-section-1638365840a0b19334 {
  padding-bottom: 100px !important;}

.footer--classic .is-justify-space-between:before {
    content: "";
    position: absolute;
    top: 0px;
    right: -210px;
    height: 351px;
    width: 386px;
    display: block;
    margin: 0;
    background: url("https://cdn.shopify.com/s/files/1/0614/7453/7714/t/6/assets/fooher-logo-bg.png?v=1638596656") no-repeat scroll 0 0 transparent;
  z-index: 9;}


.footer--classic .has-limit.is-justify-space-between{padding-bottom: 50px;
  padding-top: 50px;}


.testimonial__description{
	position: relative;
	padding-top: 0px;padding-bottom: 0px !important;
}

.testimonial__description:before{
content: "";
background-image: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/t/6/assets/testi.png?v=1638600575);
width: 55px;
height: 57px;
}






.jsSlideshowClassic {
    box-shadow: 0px 0px 10px #ccc;
  margin:3px;}


.icon-with-text-column .icon-with-text-column__column {
  border-left: 1px solid #eee;}


div.icon-with-text-column__column:nth-child(1){border-left: none !important;}

#shopify-section-16386015888076edbb .heading-section__heading {
    color: #000000;
    font-weight: 700;
    font-size: 46px;
    color: #333;
  margin-bottom: 20px;}

#shopify-section-16386015888076edbb .heading-section__subheading p{font-size: 19px;}

/* #mobile-header .mobile-header__logo {
    width: 100%;
    position: relative;
    z-index: 9;
  margin-bottom: -26px;} */

/* .header__brand {
    position: relative;
    z-index: 9;
  margin-bottom: -60px;} */

.header__logo:hover img {
    opacity: 1;
}

.navbar-link{
  font-size: 15px;
}

.navbar-item.has-dropdown a::after, .navbar-item.has-mega-menu a::after{
  font-size: 16px;
}

.header__menu--1 .navbar-item {
  margin-right: 0em  !important;}

.header__menu--2 .navbar-item {
  margin-left: 0em  !important;}

.fab-p h3 {
  margin-top: 10px !important;}


.accordion dt, .faq-accordion dt {
    border: 1px solid #ccc;
    position: relative;
    background: #F8F8F8;
  margin-bottom: 10px;}

#shopify-section-page-faq__column1 .faq-accordion {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 750px;
    margin: 0px auto;
        margin-top: 0px;
  margin-top: 40px;}


body .faq-accordion dt button {
    font-weight: bold;
  font-size: 17px;}


.faq-accordion .content{text-align: center;}


.header__link > a:hover, .navbar-link a:hover, .navbar a.active{
    color: #15deff !important;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  color: #15deff !important;}


/* #header{box-shadow: 0px 0px 10px #ccc;
} */

.mytopbar1 {
    position: relative;
  z-index: 9;
}


.icon-with-text-column .icon-column__title {
    color: #333333;
    font-weight: bold;
  font-size: 20px;}

.featured-promotions__subtitle p {
    padding: 5px 0;
    color: #000;
    font-weight: bold;
  font-size: 17px;}

.has-image-crop .image-element__wrap {
    height: 100%;
    padding: 10px;
  background: #f7f8fb;}


#shopify-section-16386011868ef580cc .featured-promotions__overlay {
  color: #000 !important;}


#shopify-section-16386011868ef580cc .has-color-override, .has-color-override strong {
  color: #000 !important;}


.navbar-item a:hover{
  color: #15deff !important;}


#shopify-section-163836492667c2b2d4 .image-with-text-overlay__subheading a{font-size: 18px !important;
color: #fff !important;
display: block !important;
line-height: 50px !important;
text-align: left;
background: #61ce28 !important;
padding: 0 15px 0 10px !important;
border-radius: 0 5px 5px 0 !important;
max-width: 265px !important;
position: relative;
margin: 25px 0 0 55px !important;
border: none !important;
transition: none !important;
text-transform: capitalize;
display: inline-block !important;
  font-weight: 500;}


#shopify-section-163836492667c2b2d4 .image-with-text-overlay__subheading a:hover{background-color: #15deff !important;}

#shopify-section-163836492667c2b2d4 .image-with-text-overlay__subheading a:before{
content: "";
background: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/t/6/assets/inner-sprite.png?v=1638613376) scroll no-repeat 0 0 transparent;
    background-position-x: 0px;
    background-position-y: 0px;
background-position: -6px -6px;
height: 50px;
width: 60px;
display: block;
position: absolute;
top: 0;
left: -60px;
transition: none !important;}

.buy-wrap > li strong {
  font-weight: 500 !important;}

.buy-wrap {
 display: block;
margin: 0px auto;
text-align: center;}

.buy-wrap > li {
  font-weight: bold !important;
}

.buy-wrap > li {
text-align: left;
padding-right: 25px;
border-right: 1px solid #fff;
padding-left: 33px;
font-size: 24px;
line-height: 160%;
font-weight: 400;
display: inline-block;
margin-top: 30px;
margin-bottom: 20px;
}

p.par{font-size: 18px;
margin-top: 30px;}

.buy-wrap > li strong {
    display: block;
  font-size: 30px;}

.buy-wrap > li:first-child {
    padding-left: 0;
    padding-right: 0;
  border: none;}

.buy-wrap > li:last-child {
    padding-right: 0;
    border: none;
    max-width: initial;
  width: auto;}

.myaffirmsection{background: url(https://cdn.shopify.com/s/files/1/0614/7453/7714/files/bg_400x.png?v=1638365194) no-repeat center;
    background-size: auto;
  background-size: cover;}

  .blog-main li.mydate {padding-top: 20px;
    padding-left: 20px;}
  
  .blog .blog-main .image-element__wrap img {
    padding: 20px;
  }
  .blog-main a.featured-article--link{font-weight: bold;}

.page-howtomeasure .page__content > div:nth-child(1) > img:nth-child(1){width: 100%;}

#itoris_dynamicproductoptions .field:not(.dpo_swatch) > label {
    display: inline-block;
  font-weight: bold;}

.fieldset span {
    font-style: inherit;
  font-weight: normal;}

.navbreadcrumbs > span:nth-child(3){color: #13deff !important;}

 .enap-slider-img img {
   max-height: 100% !important;}
@media only screen and (max-width: 600px) {
  
  .footer--classic .is-justify-space-between::before {
    content: inherit;}

  li.leftmobile:nth-child(4){border: none;}
  
  p.par {
    font-size: 11px;
    margin-top: 20px;
  }

  
  #shopify-section-163836492667c2b2d4 .caption-content {
    width: 100% !important;}
  
  
  #shopify-section-16386015888076edbb .heading-section__heading {
    font-size: 32px;}
  
 .icon-with-text-column .medium-down--one-whole{width: 50%;
    float: left;}
  
  #shopify-section-163836492667c2b2d4 .image-with-text-overlay__subheading a {
    font-size: 14px !important;margin-top: 0px !important;}
 
  .buy-wrap > li:last-child {
    padding-right: 30px;}
  

  #shopify-section-163836492667c2b2d4 .image-with-text-overlay__subheading {
    text-align: center !important;}
  
 
  
h1.sub-banner-title {
    color: #fff !important;
  margin-top: 40px !important;}
  
  
 .index #shopify-section-163836492667c2b2d4 .caption-content {
   width: 100% !important;}

.shopify-section-group-header-group-centered.top-bar .top-bar {display: none !important;}
  
  .buy-wrap > li {
    color: #fff !important;}
  
  p.par {

    color: #fff;}
  
  .myaffirmsection .image-element__wrap img {
    display: none !important;}
#shopify-section-16383618143580b9e9 .testimonial-block {
  width: 94% !important;}
  
  .buy-wrap > li strong {
   line-height: 19px;
    font-size: 24px !important;}
  
  .buy-wrap > li {
    padding-left: 11px;padding-right: 11px;}
  .myaffirmsection li.leftmobile {
    margin-left: 0em;}
  
 .buy-wrap > li:nth-child(1) {display: none;}
  
  #insta-feed .instafeed-container, .instafeed-shopify .instafeed-container {
 
    width: 50% !important;padding-top: 50% !important;}
  
  .one-whole .wrapperright {
    margin-left: 0;
    margin-right: 0;}
  
  .mydefaultpage p{ padding-left: 20px;
    padding-right: 20px;}
  
  .ins-sec {
    display: block !important;}
  
  .ins-h h3, .pay-war h3, .ship-ret h3, .terms-cond h3 {
    font-size: 28px  !important;
    margin-top: 0  !important;}
  
  .content h3, .shopify-policy__body h3 {
    margin-left: 20px;}
  
  .wrapperright{float: none  !important;
margin-left: 20px  !important;
    margin-right: 20px  !important;}
  
  .mydefaultpage .wrapperright p {
    padding-left: 0;
    padding-right: 0;
  }
  
  .content .wrapperright h3, .shopify-policy__body .wrapperright h3 {
    margin-left: 0;
  }
  
 .address > ul:nth-child(1) > li:nth-child(4) > a:nth-child(1) > img:nth-child(1) {margin-top: -13px;}
}

.leftcon{float: left;padding-top: 110px;
    width: 50%;}

.rightcon{float: left;
    width: 50%;}

.image-box-img {width: 10%;
    float: left;}

.image-box-content{width:79%;margin-bottom: 20px;
    float: right;}

.leftcon .position-left{clear: both;}


h2.center{text-align: center;
  font-weight: 700;margin-top: 52px;}
  

  .logos li{float: left!important;
    list-style: none!important;}

.leftcon h2.elementor-heading-title {
  padding-left: 30px;}


.globo-form-id-65886 .globo-form-app {
  box-shadow: 0px 0px 10px #ccc;}

.lefttrack{float: none;margin:0px auto; width: 44%;}

.righttrack{float: left;
    margin-right: 20px;
    width: 50%;
margin-top: 50px;}



.righttrack li{ display: inline-block;
    margin-right: 10px;}

.righttrack label{display: block; margin-bottom: 15px;font-size: 17px;margin-top: 20px;}

.righttrack br{display: none;}


 .righttrack ul {margin: 0px;
padding-bottom: 0px;}


.azh-col-xs-12{padding-top: 70px;}

 .Commercial_Buyer .righttrack input {padding: 20px 36px!important;
    height: 0px!important;
      background: #fff!important;
    border: 1px solid #eee!important;
border-radius: 2px;
 font-size: 17px;margin-bottom: 20px;}

.righttrack p{ font-size: 17px;}


.Commercial_Buyer .righttrack .subbut{padding: 20px 20px;background: #dfdcde!important;font-weight: bold;
    line-height: 0px;}




@media all and (max-width:480px) {
  
  
.Commercial_Buyer .righttrack form {padding-left: 18px;
    padding-right: 18px;}
  
  
  
	.content h3, .shopify-policy__body h3 {
  margin-left: 0px;}
  

  
 #product_form_7473959370994 > div.purchase-details > div.purchase-details__buttons.purchase-details__spb--true > button {max-width: initial!important;}

  #product_form_7473959370994 > div.purchase-details > div.purchase-details__buttons.purchase-details__spb--true > div{max-width: initial!important;}

}

  
#shopify-section-164443914402b09fc9 { max-width:100%;
height: 300px; }

/*cushion box by rajeev*/
.cushion-collection__thumbnail:hover {
  box-shadow: 2px 0px 0.25em 0.25em #d1d0cc;
  border-radius: 1.3em;
}
.product-wrap.cushion-wrap {
  background-color: #e1e1e1;
  border-radius: 20px;
}
.product-wrap.cushion-wrap:hover {
  background-color: #61ce28;
  -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.product-wrap.cushion-wrap .primary_image, .product-wrap.cushion-wrap .secondary_image {
  border-collapse: separate;
  border-radius: 20px;
  overflow: hidden;
}
.cushion-wrap .collection-info__caption {
  position: relative;
  justify-content: center;
}
.cushion-wrap:hover .primary_image {
  /*opacity: 0;*/
  display:none;
}
.cushion-wrap .secondary_image {
  /*position: absolute;
  left: 0;
  top: 0;*/
  display: none;
  -webkit-transition: display 0.5s, -webkit-transform 0.5s;
  transition: display 0.5s, transform 0.5s;
  /*opacity: 0;*/
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}
.cushion-wrap:hover .secondary_image {
  /*opacity: 1;*/
  display:block;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: #ffffff;
}
.product-wrap.cushion-wrap .primary_image .image-element__wrap, .product-wrap.cushion-wrap .secondary_image .image-element__wrap {
  padding: 0;
}
.cushion-wrap .collection-info__caption button {
  /*position: absolute;
  left: 20%;
  top: 20px;
  opacity: 0;*/
  margin-top: 0.8rem;
  padding-bottom: 0.5rem;
  display:none;
  -webkit-transition: display 0.5s, -webkit-transform 0.5s;
  transition: display 0.5s, transform 0.5s;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
  font-family: "Avenir Next Rounded", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-transform: none;
  line-height: 1.5;
  color: #ffffff;
  border-bottom: none;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cushion-wrap:hover .collection-info__caption button {
  display: block;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.cushion-wrap .collection-info__caption .title {
  display: block;
  /*opacity: 1;*/
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: large;
}
.cushion-wrap:hover .collection-info__caption .title {
  display: none;
  -webkit-transition: display 0.5s, -webkit-transform 0.5s;
  transition: display 0.5s, transform 0.5s;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}
.cushion_heading h2.heading-section__heading.title {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
}
.cushion_heading .heading-section__subheading.subtitle {
  font-size: 18px;
  font-weight: 500;
}
.cushion_heading .heading-divider {
  display: none;
}
@media only screen and (max-width: 600px) {
  .cushion_heading h2.heading-section__heading.title {
    font-size: 22px;
  }
  .cushion_heading .heading-section__subheading.subtitle {
    font-size: 15px;
  }
  .product-wrap.cushion-wrap {
  	max-height: 67vw;
  }
  .cushion-collection__thumbnail:hover {
    background-color: #61ce28;
  }
}


@media (max-width: 767px) {
  html, body {
    width: 100% !important;
    overflow-x: hidden;
}
.gallery-cell .image-element__wrap img {
    width: 100% !important;
}
  body .transition--appear {
    opacity: 1 !IMPORTANT;
  }
  .header, .mobile-header {
    height: 80px;
} 
body .mobile-layout--left.mobile-logo__position--left .mobile-dropdown {
    width: 20%;
}
}


.flickity-slider img.transition--appear.is-hidden-mobile-only.lazyautosizes.lazyloaded {
    width: 100%;
}

.collection-page .product-image__wrapper {
    text-align: center !important;
}
.collection-page .product-wrap .image-element__wrap {
    width: auto !important;
}


.index .product-image__wrapper {
    text-align: center !important;
}
.index .product-wrap .image-element__wrap {
    width: auto !important;
}

