.leftcon div.position-left:nth-child(2) > div:nth-child(1) > div:nth-child(1) > figure:nth-child(1) > img:nth-child(1) {
    width: auto;
}


.stepblock {float: left;text-transform: uppercase;font-weight: bold;width: 18%;border:1px solid #F4F4F4; text-align:center;margin: 10px;padding: 15px;}

.stepblock img{width:100px;}

.stepblock span{ color:#61CE28;font-size: 20px;}

.stepblock p{color:#000;font-size: 15px;}

div.position-left:nth-child(2) > div:nth-child(1) > div:nth-child(1) > figure:nth-child(1) > img:nth-child(1){width: 26%;}
body .stepblock:hover{border:1px solid #61CE28; }

.mygreenbutton {padding: 14px 36px;font-size: 18px;font-weight: bold; color:#fff; background: #313131;}

.mygreenbutton:hover{background: #61CE28;color:#fff;}

.mygreentext { text-transform: uppercase;  font-weight: bold;color:#61CE28;}


@media only screen and (max-width: 500px) {
.globo-form-app .header .title {
  font-size: 22px;}
.stepblock img{width:30%;}
  
.stepblock {  width: 100%;}
  
}
  
  
  
  
  
  
  